<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      You have signed up to www.koji.com, your confirmation code is: <%= @code %>
  </body>
</html>