<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Koji</h1>
    <p>
      You have successfully signed up to www.koji.com,
      your confirmation code is: <%= @code %><br>
    </p>
  </body>
</html>