<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Koji</h1>
    <p>
      Your Koji reset password confirmation code is: <%= @code %>
    </p>
  </body>
</html>