<body>
<p style="width:100%; text-align: left;"><a href="/" target="_blank">Game 1: 300 boxes</a></p>
<p style="width:100%; text-align: left;"><a href="/index2" target="_blank">Game 2: lines instead of boxes</a></p>
<p style="width:100%; text-align: left;"><a href="/index4" target="_blank">Game 3: 200 boxes</a></p>
<p style="width:100%; text-align: left;"><a href="/index3" target="_blank">Game 4: 250 boxes</a></p>
</body>