<body onload="ta()">
	<h1>TEST A</h1>
	<input type="hidden" id="gameVersion" name="gameVersion" value="1.0">
</body>

<script>
	
	function ta() {
		window.parent.taparent = new XMLHttpRequest();
	}

</script>