/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

html {

}

body {
	margin: 0;
  	padding: 0;
	margin: auto;
	font-family: 'Playfair Display', serif, Trebuchet MS, helvetica, tahoma;
}

/* main app sections */
.title-bar {
	width: 100%;
	margin: 0 auto;
	padding: .2em 0;
	color:white;
	text-align: left;
	background-color: #2e2e2e;
	font-weight: normal;
	z-index: 100;
}

.game-content {
	position: absolute;
	width: 100%;
	text-align: center;
}

.flex-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}


/* game sections */

.goal-container {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	overflow: hidden;
	transition: margin-top 0.5s, height 0.5s;
	z-index: 100;
}

.small-title {
	position: relative;
	padding: 0 1em 0 1em;
	text-align: center;
	z-index: 4;
}

.goal-title {
	background-color: #4a4a4a;
	color: white;
}

.canvas-1 {
	position: absolute;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	display: none;
	z-index: 2;
}

.points-and-xs-container {
	width: 100%;
	padding: 0.5em 0 0.7em 0;
	font-size: 1.1em;
	margin: 0 auto;
	white-space: nowrap;
	background-color: #3a3a3a;
	color: white;
}

.pointsandxs-div {
	display: inline-block;
	width: 45%;
	text-align: center;
}

.divider {
	display: inline-block;
	height: 2em;
	width: 0.5px;
	margin-top:	0.5em;
	border: 1px solid white;
}

.points {
	float: left;
	clear: left;
}

.xs {
	float: right;
	clear: right;
}

.xs-p {
	padding: 0;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

.x {
	padding: 0 .2em;
	margin: 0;
}

.points-title {
	 display: inline-block;
	 width: 45%;
	 margin: 0 auto;
	 text-align: center;
	 color: white;
	 border-bottom: 1px solid white;
}

.points-span {
	margin: 0;
	font-size: 1.5em;
}

.game-letters-container {
	position: relative;
	width: 95%;
	height: 20%;
	margin: 1em auto;
	padding-top: 0.2em;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	color: #fafffa;
	z-index: 1;
}

.game-letters-div {
	margin: 0 auto;
	text-align: center;
	color: #fafffa;
}

.guess-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.guess {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #f0f0f0;
	background-image: url('transparent_background.jpg');
	overflow: hidden;
}

.guess-middle {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.color-divs {
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
	line-height: 4em;
	opacity: 1;
	font-size: 1.5em;
	-moz-transition: width 0.3s, margin-left 0.3s, opacity 0.3s;
	-webkit-transition: width 0.3s, margin-left 0.3s, opacity 0.3s;
	-o-transition: width 0.3s, margin-left 0.3s, opacity 0.3s;
	transition: width 0.3s, margin-left 0.3s, opacity 0.3s;
}

.buttons-div {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	width: 100%;
}

.buttons-instructions {
	font-size: 1em;
	padding-top: 1em;
	height: 4em;
	color: #363636;
}

.yesno-button {
	display: inline-block;
	background-color: white;
	padding: 0.4em 0;
	margin-top: 0.5em;
	border: none;
	text-align: center;
	text-transform: uppercase;
  	font-size: 1.2em;
  	font-weight: 800;
	border-radius: 3px
}

.yes-button {
	border: 2px solid #555555;
	color: black;
	height: 2em;
	width: 50%;
	box-shadow: 1px -1px 1px #bababa;
}

.notyet-button {
	border: 2px solid #555555;
	width: 50%;
	margin-top: 1em;
}

.touched{
	background-color: #3a3a3a;
	color: white;
}

.no-button {
	border: 2px solid #555555;
	height: 2em;
	color: black;
	width: 50%;
	box-shadow: -1px -1px 1px #bababa;
}

.it-matches-svg {
	margin-top: 3em;
	width: 28em;
	height: 8em;
}

.plus-5-svg {
	position: relative; 
	display: block; 
	margin:auto; 
	width: 15%; 
	height: 15%;
}

.good-call-svg {
	margin-top: 3em; 
	width: 25em; 
	height: 8.5em;
}

.panda-svg {
	vertical-align: middle;
}

.missed-it-svg {
	margin-top: 5em;
	width: 40em;
	height: 22em;
}

.dont-match-svg {
	margin-top: 2em;
	width: 38em;
	height: 16em;
}

#newGameButton{
	color: white;
	box-shadow: -2px 1px 8px #aaaaaa;
	font-size: 1.7em;
	width: 100%;
	border: none;
	min-width: 320px;
	height: 2em;
	min-height: 52px;
	background-color: #3ecf8e;
}

.letter-choices-container {
	position: relative;
	height: 25%;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}

.letter-p {
	display: inline-block;
	margin: auto;
	text-align: center;
	text-shadow: -2px 1px 4px gray;
}

.letter-div {
	position: relative;
	display: inline-block;
	text-align: center;
	background: lightblue;
	border: 3px solid #fafffa;
	border-radius: 0.4em;
}

.letter-instructions {
	margin-bottom: 2em;
	color: black;
	opacity: 0;
	-moz-transition: opacity 0.5s; 
	-webkit-transition: opacity 0.5s; 
	-o-transition: opacity 0.5s; 
	transition: opacity 0.5s; 	
}

.underscores {
	display: inline-block;
	position: relative;
	margin: 0.2em 0.5em;
	padding: 0 1em;
	color: #363636;
	background-color: beige;
}

	
/* modal classes */

.modal-div {
	position: absolute;
	width: 100%;
	margin-top: -2em;
	top: 0%; 
	left: 0%; 
	background-color: #f0f0f0;
	opacity: 0;
	display: none;
	-moz-transition: margin-top 0.5s, opacity 0.5s; 
	-webkit-transition: margin-top 0.5s, opacity 0.5s; 
	-o-transition: margin-top 0.5s, opacity 0.5s; 
	transition: margin-top 0.5s, opacity 0.5s; 
	overflow: hidden;
	z-index: 100;
}

.modal-div-header {
	width: 100%;
	margin: 0;
	padding: .5em 0;
	text-align: center;
	color: #fafffa;
	background-color: #2e2e2e;
}

.modal-div-footer {
	position: absolute;
	width: 100%;
	top: 100%;
	padding: 2.5em 0;
	margin-top: -4.5em;
	background-color: #2e2e2e;
	display: none;
}

.modal-game-title {
	width: 100%;
	margin: 0;
	padding: .1em 0;
	text-align: center;
	color: #7a00cc;
	padding-left: 0.2em auto;
}


.ul-for-header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.li-for-header-left {
	display: inline-block;
	width: 20%;
	margin: 0;
	overflow: hidden;
	cursor: default;
	text-align: left;
	padding: 0.2em 0 0.2em 0;

}

.li-for-header-middle {
	display: inline-block;
	width: 50%;
	margin: 0;
	text-align: center;
	overflow: hidden;
	font-size: 1.5em;
  	font-weight: 800;
}

.li-for-header-right {
	display: inline-block;
	width: 20%;
	margin: 0;
	overflow: hidden;
	cursor: default;
	text-align: right;
	padding: 0.2em 0 0.2em 0;
}

.menu-li-pad {
	margin-top: 0.8em;
}

.hidden-opt-right {
	position: absolute; 
	width: 7em;
	height: 4em;
	top: 0;
	left: 100%;
	margin-left: -7em;
	z-index: 106;
}

.hidden-opt-left {
	position: absolute; 
	width: 7em;
	height: 4em;
	top: 0;
	left: 0;
	margin-left: 0;
	z-index: 106;
}

.menu-div {
	height: 100%;
}

.game-message-div {
	opacity: 0;
	z-index: 500;
}

.buttons-paragraph {
	width: 84%;
	margin: 0;
	padding: .2em 0;
	text-align: right;
}

/* individual modal classes */

.menu-div-ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #663399;
}

.menu-div-li {
	margin: 0;
	background-color: #f3f6f9;
}

.li-even {
	background: -moz-linear-gradient(left, #ffffff, #e6e9ec);
	background: -webkit-linear-gradient(left, #ffffff, #e6e9ec);
	background: -o-linear-gradient(left, #ffffff, #e6e9ec);
	background: linear-gradient(to right, #ffffff, #e6e9ec);
}

.li-odd {
	background: -moz-linear-gradient(left, #e6e9ec, #ffffff);
	background: -webkit-linear-gradient(left, #e6e9ec, #ffffff);
	background: -o-linear-gradient(left, #e6e9ec, #ffffff);
	background: linear-gradient(to right, #e6e9ec, #ffffff);
}

#profileChoice{
	padding-right: 3em;
}

.menu-div-svg-icon {
	display: inline-block;
	width: 1.2em;
	margin-left: 1em;
	margin-right: 1em;
	height: 5em;
}

.menu-div-item {
	display: inline-block;
	margin: 0;
	text-align: left;
	font-size: 1.5em;
	font-weight: 500;
	color: dimgray;
}

.menu-div-item-description {
	margin: 0;
	text-align: left;
	color: #888888;
}

.instruction-top-li {
	padding: 0.1em 0.75em 0.1em 0.75em;
}

.instruction-ul {
	padding: 0;
	margin: 0;
	text-align: left;
	overflow-y: auto;
	list-style: none;
	color: #8E3ECF;
}

.instruction-li {
	margin: 0;
	padding: 0.1em 0.75em 0.1em 0.75em;
}

.instruction-header-paragraph {
	margin: 0;
	color: #8E3ECF;
}

.instruction-paragraph {
	color: gray;
}

.signup-form-div {
	overflow-y: auto;
	overflow-x: hidden;
}

.signup-form-form {
	width: 100%;
	margin: 0.5em auto 0 auto;
	padding: 1em 1em 15em 1em;
	color: #663399;
	background-color: #e5e5e5;
	overflow: hidden;
	border-radius: 8px;
}

.signin-form-form {
	overflow: hidden;
	padding-bottom: 12.5em;
}

.form-footer {
	margin: 0;
	background-color: #666666;
}

.signup-form-paragraph {
	width: 95%;
	margin: 0;
	padding: .2em 0;
}

.signup-form-input {
	margin: 0;
	width: 88%;
	color: #3ecf8e;
	border: none;
	-webkit-box-shadow: inset 2px 2px 9px #969696;
	-moz-box-shadow: inset 2px 2px 9px #969696;
	box-shadow: inset 2px 2px 9px #969696;
}

.signup-form-submit-button {
	padding:0.5em 2em 0.5em 2em;
	border: none;
	color: white;
	background-color: #e6eded;
	border-radius: 0.2em;
}

.profile-options-ul {
	position: relative;
	width: 100%;
	padding: 0 0.3em;
	list-style: none;
	z-index: 200;
	text-align: center;
}

.profile-option {
	display: inline-block;
	width: 6em;
	margin: 0 0.8em;
	padding: 0.3em 1.8em;
	text-decoration: none;
	text-align: center;
	border: none;
}

.change-password {
	background-color: #3ecf8e;
	color: #fafffa;
}

.change-account-info {
	background-color: #7a00cc;
	color: #fafffa;
}

.cancel-membership {
	background-color: #666666;
	color: #fafffa;
}

.profile-paragraph {
	width: 92%;
	padding: 0.5em 0 0.5em 2.8em;
	margin: 0.5em auto;
}

.profile-error-message {
	padding: 0.1em 2em;
	color: red;
}

.profile-input {
	width: 80%;
	font-size: 3em;
	border: 1px solid #aaaaaa;
}

.profile-update-button {
	padding: 0.2em 0.7em;
	margin-left: 1em;
	border: none;
	background-color: #3311cc;
	color: #fafffa;
	box-shadow: -1px 1px 9px #cfcfcf;
}

.profile-cancel-button {
	padding: 0.2em 0.7em;
	margin-left: 1em;
	border: none;
	color: #c00000;
	box-shadow: -1px 1px 9px #cfcfcf;
}

.profile-option-div {
	border-bottom: 1px solid gray;
	overflow: hidden;
	-moz-transition: height .5s, margin .5s; 
	-webkit-transition: height .5s, margin .5s; 
	-o-transition: height .5s, margin .5s; 
	transition: height .5s, margin .5s; 
}

.logout {
	padding: 0.4em 0.7em;
	float: right;
	clear: right;
	border: none;
	background-color: #bebebe;
	color: blue;
	box-shadow: -1px 1px 9px #cfcfcf;
}

.profile-update-result {
	padding: 0.5em 0em;
	margin: 0.5em 0;
	font-style: italic;
	color: #00C000;
	opacity: 0;
	-moz-transition: opacity 0.5s; 
	-webkit-transition: opacity 0.5s; 
	-o-transition: opacity 0.5s; 
	transition: opacity 0.5s;
}

.profile-paragraph-2 {
	padding: 0.1em .2em;
	margin: 0.1em 1.3em;
	color: slateblue;
}

.profile-email {
	color: #3ecf8e;
}

.profile-cellphone {
	color: #3ecf8e;
}

.score-history {
	width: 90%;
	padding: 0.5em 2em;
	margin: 0.5em auto;	
}

.score-history-table {
	width: 100%;
	margin: 0.5em auto;
	text-align: center;
}

.contactus-form-form {
	padding-bottom: 12.5em;
}

.contactus-message {
	margin-left: 0.1em;
	border: none;
}

.flex-grow-1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	-webkit-flex-grow: 1;
 	flex-grow: 1;
}

.flex-grow-half {
	-webkit-box-flex: 0.5;
	-ms-flex-positive: 0.5;
	-webkit-flex-grow: 0.5;
	flex-grow: 0.5;
}

.flex-grow-quarter {
	-webkit-box-flex: 0.25;
	-ms-flex-positive: 0.25;
	-webkit-flex-grow: 0.25;
	flex-grow: 0.25;
}

.flex-grow-9 {
	-webkit-box-flex: 9;
	-ms-flex-positive: 9;
	-webkit-flex-grow: 9;
	 flex-grow: 9;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
 	-webkit-box-align: center;
 	-ms-flex-align: center;
 	-webkit-align-items: center;
 	align-items: center;
 	-webkit-box-pack: center;
 	-ms-flex-pack: center;
 	-webkit-justify-content: center;
 	justify-content: center;
}

.flex-row{
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: horizontal;
  	-webkit-box-direction: normal;
  	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-space-between {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 320px) {
	.menu-div-item {
		font-size: 1em;
	}

	.menu-div-item-description{
		font-size: 0.8em;
		width: 250px;
	}

	.menu-li-pad {
		margin-top: 0.2em;
		margin-right: 0.2em;
	}

	.menu-div-svg-icon {
		height: 2.5em;
		width: 1em;
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media only screen and (max-height: 475px) {
	.buttons-instructions {
		margin: 0;
		padding-top: 0.6em;
		padding-bottom: 2em;
	}
}

@media (max-width: 600px) and (min-width: 320px){
	.good-call-svg {
		margin-top: 0;
		width: 10em;
		height: 5em;
	}

	.plus-5-svg {
		margin:auto; height: 3em;
	}

	.missed-it-svg {
		margin-top: 0;
		width: 15em;
		height: 15em
	}

	.it-matches-svg {
		margin-top: 0;
		width: 15em;
		height: 5em;
	}

	.dont-match-svg {
		margin: 0;
		width: 15em;
		height: 10em;
	}
}

@media (min-width: 1024px) and (max-width: 1123px) {
	body{
		font-size: 1.8em;
	}
}

@media (min-width: 767px) and (max-width: 1023px) {
	body{
		font-size: 1.5em;
	}
}